#home-link {
  padding-top: 20px;
  text-align: center;
  
  color:white;
  background: black;
  height: 50px;
  font-size: larger;
  font-family: 'Alfa Slab One', cursive;
}
#background {
  width: 100%;
}
#error-message{
  background-color:black;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  font-family: 'Source Sans Pro', sans-serif;
}
#background:hover {
  opacity: 0.4;
}
#footer{
  height: 50px;
  text-align: center;
  background: black;
  color: white;
}
#footer p {
  padding:10px;
  margin: 0;
}

#printed-answer {
  font-family: 'Source Sans Pro', sans-serif;
}
#question-section {
  padding: 20px;
  text-align: center;
  width: 50%;
  position: fixed;
  left: 63%;
  margin-left: -37.5%;
  top: 40vh;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

#question-section h1 {
  margin: 0px;
  text-shadow: 2px 2px white;
  font-family: 'Alfa Slab One', cursive;
}
#question-section input {
  width: auto;
}
#answer-box {
  text-align: center;
  width: 50%;
  position: fixed;
  left: 63%;
  margin-left: -37.5%;
  top: 40vh;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 5px;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
